@main("Play 2.0 Ajax Examples") {
    
    <h1>Play 2.0 Ajax Examples</h1>
    <button type="button" class="clickable" id="sayHello">Friend</button>
    <button type="button" class="clickable" id="sayHelloToString">Abraham</button>
    <button type="button" class="clickable" id="sayHelloToJson">Lucas</button>
    <button type="button" class="clickable" id="sayHelloWithJson">Kyle</button>
    <div id="output"></div>
    <script  type="text/javascript">
    $(".clickable").click(clicked);
    var successFn = function(data) {
    	if(typeof data == "object"){
    		data = data.message + " Your name is " + data.namelength + " letters long";
    	}
      $("#output").append('<div>' + data + '</div>');    	
    	console.debug("Success:");
    	console.debug(data);
    };
    var errorFn = function(err) {
    	console.debug("Error:");
    	console.debug(err);
    }
     
    ajax1 = {
      success: successFn,
      error: errorFn 
    }
    
    ajax2 = {
      success: successFn,
      error: errorFn,
      contentType: "application/json",
      dataType: "json",
      data: JSON.stringify({"name":"Lucas"})
    }
    

    function clicked(e){    	
      switch(e.target.id){
	     	case "sayHello":
	     	  /*  A simple get request, Application.sayHello()
	     	   *  returns a string response
	     	   */
	     	  jsRoutes.controllers.Application.sayHello()
	     	    .ajax(ajax1);
	     	  break;
	     	case "sayHelloToString":
	     	  /*  This will call http://localhost:9001/say2?name=Abraham
	     	   *  and the name parameter of "Abraham" will be passed to 
	     	   *  Application.sayHelloToString(String name)
	     	   */
	     	  jsRoutes.controllers.Application.sayHelloToString("Abraham")
	     	    .ajax(ajax1);	     	  
	     	  break;
	     	  /*  This will call http://localhost:9001/say3
	     	   *  posting the data from ajax2 above which will get parsed 
	     	   *  as json by Application.sayHelloToJson()
	     	   */
	     	case "sayHelloToJson":
	     	  jsRoutes.controllers.Application.sayHelloToJson()
	     	    .ajax(ajax2);
	     	  break;
	     	case "sayHelloWithJson":
	     	  /* A similar request as the sayHelloToString one above, but this time
	     	   * the response from Application.sayHelloWithJson is json.
	     	   */
	     	  jsRoutes.controllers.Application.sayHelloWithJson("Kyle")
	     	    .ajax(ajax1);
	     	  break;     	
      }    	
    }
    
    </script>
}